<html ng-app="copterApp">
	<head>
		<title>Woody's Copters</title>
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body>
		<div id="header">
			Woody's Copters
		</div>

		<div id="sidebar" ng-controller="dbCtrl">
		<span style="{height: 150px;}">
			Search: <input type="text" ng-model="searchFilter" class="form-control">
			<img ng-controller="addCtrl" src="pics/copter-icon.jpg" height="30" width="30" v-align="bottom" ng-click="addCopter()" />
		</span>
			<table class="sidebar">
				<tr class="sidebar" ng-repeat="copter in data | filter:searchFilter" width="100%" >
					<td class="sidebar" width="90%" ng-click="showCopter(copter.id)">{{ copter.name }}</td>
					<td class="sidebar" width="50%" ng-click="showCopter(copter.id)"> <img width="24" height="24" src="pics/{{ copter.id }}.jpg"/></td>
					<td class="sidebar"><img src="pics/options-icon.png" height="24" width="24" ng-click="repairCopter(copter.id)" /></td>
					<td class="sidebar"><img src="pics/Reports-icon.png" height="24" width="24" ng-click="reportFlight(copter.id)" /></td>
				</tr>
			</table>
		</div>

		<div id="content">
			<ng-view></ng-view>
		</div>
	 </body>

<script src="https://code.angularjs.org/1.5.8/angular.js"></script>
<script src="https://code.angularjs.org/1.5.8/angular-resource.js"></script>
<script src="https://code.angularjs.org/snapshot/angular-route.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>

</html>
